@import "tailwindcss";

@theme {
  --color-primary-50: rgb(255, 244, 241);
  --color-primary-100: rgb(255, 229, 223);
  --color-primary-200: rgb(255, 201, 189);
  --color-primary-300: rgb(255, 171, 152);
  --color-primary-400: rgb(250, 140, 114);
  --color-primary-500: rgb(231, 111, 81);
  --color-primary-600: rgb(207, 87, 57);
  --color-primary-700: rgb(179, 66, 42);
  --color-primary-800: rgb(143, 51, 33);
  --color-primary-900: rgb(107, 38, 25);
  --color-primary-950: rgb(59, 18, 11);

  --color-secondary-50: rgb(255, 247, 240);
  --color-secondary-100: rgb(255, 233, 215);
  --color-secondary-200: rgb(255, 213, 182);
  --color-secondary-300: rgb(255, 188, 143);
  --color-secondary-400: rgb(250, 166, 109);
  --color-secondary-500: rgb(244, 162, 97);
  --color-secondary-600: rgb(224, 134, 69);
  --color-secondary-700: rgb(194, 106, 47);
  --color-secondary-800: rgb(150, 78, 33);
  --color-secondary-900: rgb(108, 53, 25);
  --color-secondary-950: rgb(61, 29, 13);

  --color-bground-50: rgb(240, 236, 232);
  --color-bground-100: rgb(221, 215, 208);
  --color-bground-200: rgb(190, 176, 166);
  --color-bground-300: rgb(158, 139, 127);
  --color-bground-400: rgb(110, 88, 73);
  --color-bground-500: rgb(58, 44, 36);
  --color-bground-600: rgb(46, 34, 28);
  --color-bground-700: rgb(38, 28, 23);
  --color-bground-800: rgb(29, 21, 17);
  --color-bground-900: rgb(20, 14, 11);
  --color-bground-950: rgb(12, 8, 6);
}
